RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.mickael-lalanne.fr/$1 [R,L]

# Redirect triple triad requests to the triple-triad folder
# to fix 404 errors when requesting https://www.mickael-lalanne.fr/triple-triad/roadmap
# cf https://stackoverflow.com/questions/36399319/vue-router-return-404-when-revisit-to-the-url
<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /triple-triad
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /triple-triad/index.html [L]
</IfModule>